html {
    width:max-content;
    background-color: #333;
    color: white;
}

body {
    font-family: Verdana, sans-serif;
}

.setHead {
  font-size: medium;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.switch {
    position: relative;
    float: right;
    width: 30px;
    height: 17px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 18px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 18px;
  }
  
  input:checked + .slider {
    background-color: #AB2300;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #AB2300;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  a {
    color:white;
  }

  button {
    background-color: #AB2300;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 18px;
  }

  #forward {
    height:2.5em;
    display: inline;
    vertical-align: middle;
  }

  #title {
    font-size: large;
  }

  hr {
    color:white;
  }

  #binst {
    float:right;
    margin-left:3px;
  }